<a href="https://colab.research.google.com/github/NandiniBelavaniki/pesu-I-O/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name1=input("Enter name1 :")
age1=int(input("Enter age1 :"))
name2=input("Enter name2 :")
age2=int(input("Enter age2 :"))
print(name1,age1,name2,age2)
age1+age2

Enter name1 :joy
Enter age1 :20
Enter name2 :roy
Enter age2 :25
joy 20 roy 25

45

In [ ]:
num1=int(input("Enter number 1 :"))
num2=int(input("Enter number 2 :"))
num3=int(input("Enter number 3 :"))
mean=(num1+num2+num3)/3
print(mean)

Enter number 1 :3
Enter number 2 :4
Enter number 3 :5
4.0

In [ ]:
l=int(input("Enter lenght of rectangular box :"))
b=int(input("Enter breadth of rectangular box :"))
h=int(input("Enter height of rectangular box :"))
volume=l*b*h
print(volume)

Enter lenght of rectangular box :4
Enter breadth of rectangular box :5
Enter height of rectangular box :2
40

In [ ]:
n=int(input("Enter a number :"))
sum=0
while n>0:
  sum=sum+n
  n=n-1
print("the sum of n natural numbers is :",sum)

Enter a number :80
the sum of n natural numbers is : 3240

In [ ]:
def factorial(x):
  if x==1:
    return 1
  else:
    return (x*factorial (x-1))

n=10
result = factorial(n)
print("factorial of",n,":",result)

factorial of 10 : 3628800

In [ ]:
l=[10,20,30,40,10,20,40,50,60,30]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{10: 2, 20: 2, 30: 2, 40: 2, 50: 1, 60: 1}

In [ ]:
n=5
for i in range(0,n): #for rows
  for j in range(0,i+1): #for columns
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("monthly-beer-production-in-austr.csv")

In [ ]:
df.head()

     Month  Monthly beer production
0  1956-01                     93.2
1  1956-02                     96.0
2  1956-03                     95.2
3  1956-04                     77.1
4  1956-05                     70.9

In [ ]:
x=df.shape
print(x)

(476, 2)

In [ ]:
x=df.columns
print(x)

Index(['Month', 'Monthly beer production'], dtype='object')

In [ ]:
df.describe

<bound method NDFrame.describe of        Month  Monthly beer production
0    1956-01                     93.2
1    1956-02                     96.0
2    1956-03                     95.2
3    1956-04                     77.1
4    1956-05                     70.9
..       ...                      ...
471  1995-04                    127.0
472  1995-05                    151.0
473  1995-06                    130.0
474  1995-07                    119.0
475  1995-08                    153.0

[476 rows x 2 columns]>

In [ ]:
df.count

<bound method DataFrame.count of        Month  Monthly beer production
0    1956-01                     93.2
1    1956-02                     96.0
2    1956-03                     95.2
3    1956-04                     77.1
4    1956-05                     70.9
..       ...                      ...
471  1995-04                    127.0
472  1995-05                    151.0
473  1995-06                    130.0
474  1995-07                    119.0
475  1995-08                    153.0

[476 rows x 2 columns]>